# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

yarn.lock
package-lock.json

# Include when developing application packages.
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json